<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-field">
      <%= f.input_field :email, required: true %>
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <%= f.input_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <label for="password">Password</label>
    </div>
    <%= f.input_field :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
<br>

<%= render "devise/shared/links" %>
